* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    /* Visualisation des éléments */
    /*border: 1px dotted rgba(0,0,0,0.3);*/
}

*:hover {
    transition: all 0.2s ease 0s;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.6;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

nav .navbar-brand img {
    height: 50px;
    margin: 2em 0;
}

nav button.jouer {
    background-color: #ff7255;
    border: 1px solid #ff7255;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.2);
}

nav button.jouer:hover {
    background-color: #fff;
    color: #ff7255;
    border: 1px solid #ff7255;
}

nav .navigation {
    justify-content: flex-end;
    gap: 40px;
}

nav nav .nav-link {
    border-bottom: 2px solid transparent;
}

nav .nav-link.active,
nav .nav-link:hover {
    border-bottom: 2px solid #ff7255;
}
/* fond vagues */
.reponse_body{
    background-image: url(../images/images_reponse/vague_fond_hd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    min-height: 100vh;
}
/* fond blanc */
.reponse_fond{
    
    background-color: white;
    border-radius: 30px; 
    max-width: 1320px;
    margin: auto;
    
}
/* question img */
.reponse_img {
    background-image: url(../images/images_reponse/question_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 22.445em;
    padding-top: 22.445em !important
}

/* texte */
.reponse_txt, 
.reponse_number{
    text-align: center;
    font-family: 'muli', sans-serif;
    color: #2F3061 ;
}
/* nombre question */
.reponse_number{
    font-weight: 900;
}
.reponse_number span {
    font-size: 2em;
    padding: 0.20em;
}
.reponse_titre{
    font-family: 'muli','sans-serif';
    text-align: center;
    color: #57CB69;
    font-size: 2.188em;
    font-weight: 900;
}
.reponse_soustitre{
    font-family: 'muli','sans-serif';
    text-align: center;
    font-weight: 800;
    font-size: 1.25em;
}

.reponse_txt {
    font-family: 'muli','sans-serif';
    font-size: 1.25em;
    text-align: center;
}

/* bouton suivant */
.reponse_questionsuivante {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'nunito', sans-serif;
    font-size: 1.25em;
    font-weight: 800;
    color: #ff7255;
}
.reponse_questionsuivante span {
    display: inline-block;
    vertical-align: middle;
    line-height: 73px;
    background-image: url(../images/images_reponse/suivante-body.png);
}
.reponse_questionsuivante:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 73px;
    background-image: url(../images/images_reponse/suivante1.png);
}
.reponse_questionsuivante:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 73px;
    background-image: url(../images/images_reponse/suivante1.png);
    background-position: center right;
}
.reponse_questionsuivante span:hover {
    text-decoration: underline 2px;
}
.reponse_suivante p {
    text-align: center;
    color: #ff7255;
    padding: 2em;
}

@media (max-width: 1400px) {
    .reponse_img {
        background-image: url(../images/images_reponse/question_1_mobile.png);
    }
}
@media (max-width:700px){
    .reponse_img {
        padding-top:12em !important;
    }
    .reponse_txt{
        font-size: 16px;
    }
}