    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/grand_footer.css">

<body>
    
<!--Debut du footer-->
<footer class="container parents_footer">
    <div class="row align-items-center">
        <div class="col-sm-4 text-center">
            <p class="parents_footer_p"><a href="#">Mentions légales</a></p>
            <p class="parents_footer_p"><a href="#">CGU</a></p>
            <p class="parents_footer_p"><a href="#">Nos partenaires</a></p>
        </div>
        <div class="col-sm-4 text-center">
            <p class="parents_footer_p">©2021 - Rocket Inc. Tous droits réservés</p>
        </div>
        <div class="col-sm-4 text-center">
            <p class="parents_footer_p">Nous retrouver</p>
            <a href="#"><img class="parents_footer_img" src="../images/image_parents/reseaux.png" alt="Pictos facebook instagram"></a>
        </div>
    </div>
</footer>
<p class="parents_footer_bis"><a href="#">Mentions légales</a> - <a href="#">CGU</a> ©2021 - Rocket inc. Tous droits réservés</p>

<!--Fin du footer-->
    
</body>