    <link rel="stylesheet" href="../css/petit_footer_bleu.css">
<body>
    
<!--Début du footer-->

<p class="footer_petit_bleu"><a href="">Mentions légales</a> - <a href="#">CGU</a> ©2021 - Rocket inc. Tous droits réservés</p>

<!--Fin du footer-->


</body>