{% extends 'base.html.twig' %}

{% block title %}Biome - Choix du quiz {% endblock %}

{% block body %}



<main>


 

    
    <h1>{{ quiz.question}}</h1>
          {% if app.user is null %}<a href="{{ path('security') }}">Jouer</a>{% else %}<a href="{{ path('startQuiz', {'id':quiz.id }) }}{% endif %}">Jouer</a>
        



    



</main>


{% endblock %}
