{% extends 'base.html.twig' %}

{% block title %}Biome - Les quiz{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<main>
<a href="{{ path('questions') }}"><h1>QUIZ</h1></a>



  {% for quiz in quizlist %}
    <a href="{{ path('presentationquiz', {'id':quiz.id }) }}">{{ quiz.question }}</a><br>

{% endfor %}

</main>


{% endblock %}
